# Ignore stuff that is automatically created
*.bib.sav
*.aux
*.auxlock
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.bib.bak
_data/
*/.ipynb_checkpoints/*
*/.idea/*
*/tikz/*
*/__pycache__/*
*/pickles/*

# Other files to be ignored
20171126 Parametrization/df.p
